
body{background-color: black;}
.king{background-color: white;
width: 760px;
font-size: 12px;}
.bar{float: right;
font-size: 13px;}
.queen{text-align: center;
font-size: 14px;
font-weight: bold;
background-image: url(./images/mypic_bg.gif);}
.jack{background-image: url(./images/leftbg.jpg);
font-size: 13px;
text-align: center;}
.lucy{list-style: none;
margin: 6px;}
.tom{list-style: url(./images/icon1.gif);
margin: 6px;}
a.q:hover{color: cornflowerblue;}

a.k:visited{color: crimson;}
a.l:active{color: cyan;}
a.p:link{color: darkmagenta;}
.lily{float: right;}

